@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #f7f7fa;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeSpeed;
}

main {
    width: 100%;
    height: 100%;
}

#input-section {
    background: #fff;
    width: 32%;
    height: 100%;
    position: fixed;
    padding: 0 24px 24px 24px;
    z-index: 1;
}

#input-section form {
    padding-top: 24px;
}

h1 {
    text-align: center;
    color: #343a40;
    font-size: 32px;
    font-weight: 700;
}

form div {
    margin-bottom: 12.8px;
}

label {
    color: #343a40;
    font-weight: 700;
    font-size: 16px;
}

.cl-color {
    color: #6daffe
}

input {
    border: none;
}

input[type=text], input[type=number] {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    background: #f6f7f8;
    color: #343a40;
}

input[type=submit] {
    width: 100%;
    background: #343a40;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=submit]:hover {
    background: #6daffe;
}

#list-section {
    width: 68%;
    margin-left: 32%;
    padding: 24px;
}

#search-book {
    background: #fff;
    padding: 24px;
    margin-bottom: 24px;
}

.title-list {
    background: #6daffe;
    color: #fff;
    padding: 12.8px 24px;
    box-shadow: 0 2px 8px rgb(36 38 64 / 4%);
}

.list-book {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0 auto;
}

.book {
    background: #fff;
    padding: 24px;
    margin: 0 auto 24px auto;
    width: 95%;
    box-shadow: 0 2px 8px rgb(36 38 64 / 4%);
}

h2 {
    font-size: 18px;
    margin: 0 0 24px 0;
}

h3 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

p {
    margin-bottom: 12.8px;
    font-size: 16px;
}

.button-tools {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 24px;
}

.button {
    margin: 0 auto;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 14.8px;
}

.button-delete {
    background: #e74c3c;
}

.button-complete {
    background: #f1c40f;
}

.button-incomplete {
    background: #2ecc71;
}

svg {
    fill: #fff;
    background: #343a40;
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    z-index: 3;
    display: none;
}

svg:hover {
    background: #6daffe;
    transition: 0.3s;
}

@media (max-width: 1280px) {
    svg {
        display: block;
    }
    
    .show-section {
        margin-left: 0 !important;
    }

    #input-section {
        width: 100%;
        margin-left: -100%;
    }

    #list-section {
        width: 100%;
        margin-left: 0;
    }

    .list-book {
        grid-template-columns: 100%;
    }

    .book {
        width: 100%;
    }

    .button-tools {
        grid-template-columns: 100%;
    }
    .button {
        width: 100%;
    }
    .button-delete {
        margin-top: 12.8px;
    }
}